html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.flex-container {
  display: flex;
  height: 100%;
}

.flex-container > * {
  flex: 1 1 0;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-vertical {
  flex-direction: column;
}

.board {
  width: 80%;
  height: 80%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid red;
}

.board tr {
  height: 33%;
}

.board td {
  width: 33%;
  height: 33%;
  border: 1px solid gray;
  text-align: center;
  font-size: 10em;
  font-weight: lighter;
  cursor: pointer;
  text-transform: uppercase;
}

.board td.ok:hover {
  background-color: green;
}
.board td.invalid:hover {
  background-color: red;
}
