.cell {
  border: 1px solid gray;
  text-align: center;
  font-size: 4em;
  font-weight: lighter;
  cursor: pointer;
  text-transform: uppercase;
}

.cell.ok:hover {
  background-color: green;
}

.cell.invalid:hover {
  background-color: red;
}