.lobby-list {
	background-color: white;
	flex-grow: 1;
	border: 1px solid darkgray;
}

tbody > tr.active {
	background-color: lightblue;
}

tbody > tr {
	cursor: pointer;
	text-align: left;
}


/*

.lobby-list thead {
	background-color: gray;
}

*/