.lobby-player-list {
	background-color: white;
}

.lobby .action-bar {
	flex-grow: 0;
}

.lobby-status {
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px 0;
}

.lobby-status label {
	display: none;
}

div.players-container {
	background-color: transparent;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}

.slot-wrapper {
	cursor: pointer;
	user-select: none;
}

.player-slot {
	padding: .5em;
	border: 2px solid gray;
	border-radius: 4px;
	background-color: white;
	width: 115px;
}

.player-slot h2 {
	margin: 0;
	font-size: 3.5em;
	font-family: cursive, monospace;
}

.player-slot .btn {
	padding: 10px 20px;
	background-color: transparent;
	color: #007bff;
	border-color: #007bff;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	transition: background-color .5s, color .5s;
}

.player-slot .btn.disabled {
	color: gray;
	border-color: gray;
}

.player-slot .btn:not(.disabled):hover {
	background-color: #b3c9e1;
}

.slot-player-not-ready {
	border-color: red;
}
.slot-player-ready {
	border-color: green;
}
.slot-empty {
	color: gray;
	border-color: gray;
}

button.btn.btn-link {
	border: none;
	background-color: transparent;
}

.btn.btn-link:not(.disabled):hover {
	background-color: transparent;
	text-decoration: underline;
}

.btn:active, .btn:visted, .btn:focus {
	border: none;
	text-decoration: none;
	outline: none;
}

.slot-host-controls {
	height: 1.25em;
}